<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">        
        <title>CHEV Dietary Supplement</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <META content="Chev Dietary Supplement" name=description>
        <META content="Chev, Chev Diet, Dietary Supplement" name=Keywords>
        <META name="robots" content="index,follow">

        <link rel="stylesheet" href="public/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                /*padding-bottom: 20px;*/
            }
        </style>
        <base href="/chev/index.html">
        <link rel="stylesheet" href="public/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="public/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/css/main.css">
        <link rel="stylesheet" href="public/css/jquery.bootstrap-touchspin.css">
        <link rel="stylesheet" href="public/css/animate.css">
        <link rel="stylesheet" href="public/css/DateTimePicker.min.css">
        <link rel="stylesheet" href="public/css/chartist.css">
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="public/img/icon.ico">

        <script src="public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        
    </head> 
    <body ng-app="chevApp">
      <!-- Add facebook js sdk -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1396688577327448";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-fixed-top {{navbarClass}} champagne" role="navigation" ng-controller="navbarController" style="border-bottom-width: 0px;">
      <div style="height:1.2em;"></div>

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: rgba(0,0,0,0.3);">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand champagne logo" href="./" style="">
            <img src="public/img/logo2.png" alt="Logo">
            <!-- CHEV  -->
          </a>
        </div>
        <div class="navbar-collapse collapse" aria-expanded="true">
          <ul class="nav navbar-nav navbar-right champagne">
            <li><a ng-class="{ active: isActive('/successStory') }" ng-click="hideNavbar()" ui-sref="successStory" >ตัวอย่างความสำเร็จ</a></li>
            <li><a ng-class="{ active: isActive('/secret') }" ng-click="hideNavbar()" ui-sref="secret">เคล็ดลับความสำเร็จ</a></li>
            <li><a ng-class="{ active: isActive('/ingredients') }" ng-click="hideNavbar()" ui-sref="ingredients">สารอาหาร</a></li>
            <li><a ng-class="{ active: isActive('/howitwork') }" ng-click="hideNavbar()" ui-sref="howitwork">กลไกการทำงาน</a></li>
            <li class="dropdown">
              <a id='userDropdown' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ร้านค้า<span class="cart"></span></a>
              <ul class="dropdown-menu" aria-labledby="userDropdown" role="menu" style="color:black !important">
                <li><a ng-class="{ active: isActive('/products') }" ng-click="hideNavbar()" ui-sref="products">ร้านค้า</a></li>
                <li><a ng-class="{ active: isActive('/howToTransfer') }" ng-click="hideNavbar()" ui-sref="howToTransfer">วิธีการซื้อสินค้า</a></li>                
              </ul>
            </li>
            <li><a ng-class="{ active: isActive('/login') }" ng-show="!isLogin" ng-click="hideNavbar()" ui-sref="login">เข้าสู่ระบบ</a></li>
            <!-- <li><a ng-class="{ active: isActive('/user') }" ng-show="isLogin" ui-sref="user">คุณ {{userInfo.name_first}}</a></li> -->
            <li class="dropdown" ng-show="isLogin">
              <a id='userDropdown' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">คุณ {{userInfo.name_first}} <span class="cart"></span></a>
              <ul class="dropdown-menu" aria-labledby="userDropdown" role="menu" style="color:black !important">
                <li><a ui-sref="user" ng-click="hideNavbar()">ข้อมูลส่วนตัว</a></li>
                <li><a ui-sref="orders" ng-click="hideNavbar()" class="active" style="font-weight:bold;">รายการสั่งซื้อ</a></li>
                <li class="divider"></li>
                <li><a href="logout" ng-click="hideNavbar()">ออกจากระบบ</a></li>
              </ul>
            </li>
            <!-- <li class="left-border right-border cart"><a href="#" ng-click="viewCart()"><span class="glyphicon glyphicon-shopping-cart"></span></a></li> -->

            <li class="cart dropdown">
              <!-- <div class="dropdown"> -->
                <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true"><span class="glyphicon glyphicon-shopping-cart" ng-click="viewCart()"></span></a>
                
                <div class="dropdown-menu dropdown-area cart-droupdown" role="menu" aria-labledby="dLabel" data-no-collapse="true">
                  <div ng-show="cart===undefined">
                    ยังไม่มีสินค้าในตะกร้าเลย <a href="products" ng-click="viewCart()">เติมเต็ม</a> ตะกร้าคุณสิ
                  </div>
                  <div ng-show="cart">
                    <table class="table table-hover" >
                      <thead>
                        <tr>
                          <th>สินค้า</th>
                          <th>จำนวน</th>
                          <th>ราคา</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key, value) in cart">
                          <th>{{value.product.name}}</th>
                          <th>{{value.setAmount}} <span ng-show="value.product.status==1">ชิ้น</span><span ng-show="value.product.status==2">ชุด</span></th>
                          <th>{{value.product.allprice * value.setAmount}} บาท</th>
                          <th><a ng-click="deleteItem(value.product.product_id)"><i class="glyphicon glyphicon-remove-circle"></i></a></th>
                        </tr>
                      </tbody>
                    </table>
                    <div>
                      <button class="default-btn col-md-12 full-width" ng-show="isLogin" ng-click="checkout()"><i class="glyphicon glyphicon-arrow-right"></i> เช็คเอาท์สินค้าเลย</button>
                      <button class="default-btn col-md-12 full-width" ng-show="!isLogin" ng-click="login()"><i class="fa fa-key"></i> เข้าสู่ระบบเพื่อเช็คเอาท์</button>
                      <div class="clear"></div>
                    </div>
                </div>

            </li>
          </ul>

        </div><!--/.navbar-collapse -->
      </div>
      <div style="height:0.8em;"></div>
    </div>

    <div data-ui-view autoscroll="false"></div>

 
    <!-- Footer -->
    <div class="gray-bg" style="height:100%; padding-bottom: 3em;">
      <div style="height:1em;"></div>
      <div class="container">
        <div class="col-sm-3">
          <h4>แผนผังเว็บไซด์</h4>
          <!-- <hr> -->
          <ul class="footer-list">
            <li><a href="home">หน้าหลัก</a></li>
            <li><a href="successStory">ตัวอย่างความสำเร็จ</a></li>
            <li><a href="ingredients">สารอาหาร</a></li>
            <li><a href="howitwork">กลไกการทำงาน</a></li>
            <li><a href="products">ร้านค้า</a></li>
            <li><a href="secret">เคล็ดลับความสำเร็จ</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-4" style="padding: 5px;">
            <a href="https://www.facebook.com/chevdiet" target="_blank">
              <div class="footer-square facebook-square">
                <span class="fa fa-facebook inside-square"></span>
              </div>
            </a>
          </div>
          <div class="col-sm-4" style="padding: 5px;">            
            <a href="https://instagram.com/chev_dietarysupplement" target="_blank">
              <div class="footer-square instagram-square">
                <span class="fa fa-instagram inside-square"></span>
              </div>
            </a>
          </div><!-- 
          <div class="clear"></div> -->
          <div class="col-sm-4" style="padding: 5px;">            
            <a href="https://www.youtube.com/channel/UC81f7u9C0cs5VP1NEoejPQA" target="_blank">
              <div class="footer-square youtube-square">
                <span class="fa fa-youtube-play inside-square"></span>
              </div>
            </a>
          </div>

          <div class="clear"></div>
          <hr>


        </div>
        <div class="col-sm-5">
          <div class="fb-page" data-href="https://www.facebook.com/chevdiet" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/chevdiet"><a href="https://www.facebook.com/chevdiet">CHEV Dietary Supplement</a></blockquote></div></div>
        </div>
      </div>

        <div class="clear"></div>
      </div> <!-- /container -->   
    </div>         
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="public/js/vendor/jquery.stellar.min.js"></script>
        <script>window.jQuery || document.write('<script src="public/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

        <script src="public/js/vendor/bootstrap.min.js"></script>
        <script src="public/js/vendor/angular.min.js"></script>
        <script src="public/js/vendor/angular-route.min.js"></script>
        <script src="public/js/vendor/ng-file-upload.min.js"></script>
        <script src="public/js/vendor/ng-file-upload-shim.min.js"></script>
        <script src="public/js/vendor/angular-ui-router.min.js"></script>
        <script src="public/js/vendor/angular-resource.min.js"></script>
        <script src="public/js/vendor/ngFacebook.js"></script>
        <script src="public/js/vendor/underscore-min.js"></script>
        <script src="public/js/vendor/picturefill.min.js" async></script>
        <!-- // <script src="public/js/vendor/chartist.min.js"></script> -->
        <!-- // <script type="text/javascript" src="public/js/vendor/chartist-plugin-tooltip.min.js"></script> -->
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

        <script src="public/js/main.js"></script>
        <script src="public/js/app.js"></script>
        <script src="public/js/jquery.bootstrap-touchspin.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
        <!-- // <script type="text/javascript" src="public/js/vendor/chart.min.js"></script> -->
        <!-- // <script type="text/javascript" src="public/js/vendor/chart.stackedbar.js"></script> -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA', 'auto');
          ga('send', 'pageview');

        </script>


        
    </body>
</html>
