<a name="top"></a>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="animated fadeIn">
    <div class="jumbotron welcomejumbo" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="100">
      <carousel interval="myInterval" class="auto-hide-mobile-small">
        <slide ng-repeat="slide in slides" active="slide.active">
          <a href="{{slide.url}}"><img class="carousel-img" ng-src="{{slide.image}}"></a>
          <div class="carousel-caption right">
            <!-- <h4>Slide {{$index+1}}</h4> -->
            <p><a class="default-btn" role="button">Learn more &raquo;</a></p>
          </div>
        </slide>
      </carousel>

      <!-- Carousel for Large Screen -->
      <carousel interval="myInterval1" class="auto-show-mobile-small" >
        <slide ng-repeat="slide in slides1" active="slide.active" style="overflow: hidden;">
          <a href="{{slide.url}}"><img class="carousel-img" ng-src="{{slide.image}}"></a>
          <div class="carousel-caption right">
            <!-- <h4>Slide {{$index+1}}</h4> -->
            <!-- <p class="center"><a class="default-btn" role="button" style="font-size: 15px;">Learn more &raquo;</a></p> -->
          </div>
        </slide>
      </carousel>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="">
        <img style="width:100%;" src="public/img/new_pharma.jpg">
      </div>
      <div class="row top-space">
        <div class="col-md-4">
          <div class="center">
            <!-- <span class="glyphicon glyphicon-thumbs-up feature-icon"></span>  -->           
            <a class="center" href="successStory">
              <img src="public/img/success_story.jpg" class="fixed-width-img max-width-500" alt="">
            </a>
          </div>
          <h2 class="center">SUCCESS</h2>
          <p class="sarabun">คุณสามารถเปลี่ยนแปลงตัวเองได้มากว่าคุณคิด เป็นตัวคุณที่ดีที่สุดในแบบที่คุณเป็น คุณพร้อมหรือยังที่จะเข้ามาเป็นส่วนหนึ่งแห่งความสำเร็จไปกับพวกเรา</p>
          <p class="center"><a class="white-btn" href="successStory" role="button">Learn More &raquo;</a></p>
          <div class="top-space">&nbsp;</div>
        </div>
        <div class="col-md-4">
          <div class="center">
            <a class="center" href="ingredients">
              <img src="public/img/ingredient.jpg" class="fixed-width-img max-width-500" alt="">
            </a>
          </div>
          <h2 class="center">INGREDIENTS</h2>
          <p class="sarabun">ผลิตภัณฑ์เสริมอาหาร CHEV ได้คัดสรรส่วนผสมระดับพรีเมียมอย่างพิถีพิถัน เพื่อทำให้ผลิตภัณฑ์เสริมอาหาร CHEV เป็นผลิตภัณฑ์เสริมอาหารที่ดีที่สุด </p>
          <p class="center"><a class="white-btn" href="ingredients" role="button">Learn More &raquo;</a></p>
          <div class="top-space">&nbsp;</div>
       </div>
        <div class="col-md-4">
          <div class="center">
            <a class="center" href="products">
              <img src="public/img/product.jpg" class="fixed-width-img max-width-500" alt="">
            </a>
          </div>
          <h2 class="center">PRODUCTS</h2>
          <p class="sarabun">เราเก็บสินค้าด้วยความเอาใจใส่ในคลังเก็บสินค้าที่ได้มาตราฐาน คุณลูกค้ามั่นใจได้เลยว่าจะได้สินค้าที่มีคุณภาพเสมอ</p>
          <p class="center"><a class="white-btn" href="products" role="button">Learn More &raquo;</a></p>
        </div>
      </div>

    </div>

    <div class="hidden-overflow">
      <div class="top-space"></div>
      <a href="secret">
        <img src="public/img/workoutPlan.jpg" class="auto-hide-mobile-small" style="width:100%;">
        <img src="public/img/MOBILE_workoutPlan.jpg" class="auto-show-mobile-small" style="width:100%">
      </a>
    </div>
    
    <!-- Mid page picture -->
    <div class="jumbotron midjumbo no-padding hidden-overflow" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="100" style="margin-top: 0.6em;">
      <a href="products">
        <img src="public/img/promotion22_mini.jpg" class="promotion-img auto-hide-mobile-small" alt="" >
        <img src="public/img/promotionProduct2.jpg" class="auto-show-mobile-small" style="width:100%;" alt="" >
      </a>
      <div class="container">
      </div>
    </div>
    <div class="container">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default panelGreen">
          <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer;">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h2 class="center">คำแนะนำการรับประทานผลิตภัณฑ์เสริมอาหาร CHEV Dietary<br></h2>
                  <h1> <i class="fa fa-chevron-down center"></i> </h1>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body" style="font-size: 1.1em;">
                <p class="sarabun">เราอยากให้ทุกท่านใช้ผลิตภัณฑ์ CHEV ให้เกิดผลลัพธ์สูงสุดโดยท่านสามารถทำตามคำแนะนำด้านล่าง เพื่อที่จะเป็นตัวคุณที่ดีที่สุดในแบบที่คุณเป็น และมาเป็นครอบครัวของความสำเร็จไปด้วยกัน</p>
              <h3><b>สำหรับบุคคลทั่วไปในชีวิตประจำวัน</b></h3>
              <p class="sarabun">ควรรับประทานผลิตภัณฑ์เสริมอาหาร CHEV 2 เวลาคือ ก่อนอาหารเช้าประมาณ 30 นาทีและก่อนอาหารเย็นประมาณ 30 นาที</p>

              <h3><b>ในกรณีที่มีการออกกำลังกาย </b></h3>
              <p class="sarabun"> ถ้าเป็นการออกกำลังกายตอนเช้าให้รับประทานก่อนออกกำลังกายตอนเช้าประมาณ 30 นาทีแทนการรับประทานก่อนอาหารเช้า แต่รับประทานก่อนอาหารเย็นตามปกติ 
                <br>ถ้าเป็นการออกกำลังกายตอนเย็นให้รับประทานก่อนออกกำลังกายตอนเย็นประมาณ 30 นาทีแทนการรับประทานก่อนอาหารเย็น แต่รับประทานก่อนอาหารเช้าตามปกติ 
              </p>

              <h3><b>รับประทานอาหารประเภทบุฟเฟ่ต์</b></h3>
              <p class="sarabun"> ในกรณีที่อยากรับประทานอาหารประเภทบุฟเฟ่ต์ ถ้ารับประทานตอนเช้าหรือตอนเย็นก็รับประทานผลิตภัณฑ์เสริมอาหาร CHEV ตามปกติ แต่ถ้ารับประทานตอนกลางวันสามารถรับประทานผลิตภัณฑ์เสริมอาหาร CHEV เพิ่มเติมก่อนอาหาร 30 นาทีอีก 1 เม็ด</p>

              <h3><b>ในกรณีที่ไปเที่ยวกลางคืน</b></h3>
              <p class="sarabun"> รับประทานก่อนไปเที่ยวกลางคืน 30 นาทีและรับประทานก่อนอาหารเช้าและเย็นตามปกติ</p>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="container">
      

      <!-- O&A section -->
      <h1 class="center biggersize">Q&A</h1>
      <hr>
      <div class="top-space"></div>
      <div class="col-md-2">
        <div class="center">
          <img class="cir-img max-width-200" style="width: 100%; margin-bottom: 2em;" src="public/img/chev.jpg" alt="Cat">
        </div>
      </div>

      <div class="col-md-10">
        <h3 style="font-weight:bold; margin-top: 10px;">ผลิตภัณฑ์เสริมอาหาร CHEV เกิดขึ้นมาได้อย่างไรล่ะ ?</h3>
        <!-- <hr style="margin: 22px 0 15px"> -->
        <p class="sarabun hideContent content" style="font-size:1.1em;">
          เนื่องจากปัจจุบันโรคอ้วนเป็นปัญหาที่สำคัญ และก็มีกลุ่มคนอีกจำนวนหนึ่งที่ต้องการจะรักษาสัดส่วนที่ดีอยู่เสมอ แต่ในปัจจุบันการกระชับสัดส่วนเกิดขึ้นอย่างผิดวิธี เช่น การอดอาหารที่มากเกินควรทำให้ร่างกายขาดสารอาหารหรือการใช้ยาลดความอ้วนที่มีผลข้างเคียงมากมาย และเป็นอันตรายต่อร่างกาย เนื่องจากใช้สารสกัดที่ไม่ได้มาตราฐานซึ่งจะเห็นผลในช่วงเวลาหนึ่งเท่านั้น ผลิตภัณฑ์เสริมอาหาร CHEV ได้เห็นถึงความสำคัญตรงจุดนี้ จึงได้คิดค้นและคัดสรรส่วนผสมที่เป็นสารสกัดจากธรรมชาติ 100 % และ แอลคาเนทีน (L-Carnitine) ในปริมาณที่เหมาะสม เพื่อที่จะทำให้ ผลิตภัณฑ์เสริมอาหาร CHEV เป็นผลิตภัณฑ์ที่มีคุณภาพและมีประสิทธิภาพโดยไม่มีผลข้างเคียงที่ตามมา
        </p>
        <div class="show-more">
            <a href="#" class="white-btn more-btn">Show more</a>
        </div>
      </div>
      <div class="clear"></div>
      <hr style="margin: 22px 0 15px">
      <div class="clear top-space"></div>

      <div class="col-md-2">
        <div class="center">
          <img class="cir-img max-width-200" style="width: 100%; margin-bottom: 2em;" src="public/img/antiage.jpg" alt="Cat">
        </div>
      </div>
      <div class="col-md-10">
        <h3 style="font-weight:bold; margin-top: 10px;">ผลิตภัณฑ์เสริมอาหาร CHEV ชะลอความชราได้ด้วยจริงๆหรอ ?</h3>
        <!-- <hr style="margin: 22px 0 15px"> -->
        <p class="sarabun hideContent content" style="font-size:1.1em;">
          ด้วยเหตุที่ว่าผลิตภัณฑ์เสริมอาหาร CHEV คำนึงถึงสุขภาพของผู้ใช้เป็นอันดับแรกจึงได้เลือกผสมที่มีคุณสมบัติทั้งทางด้านกระชับสัดส่วนและรวมถึงด้านชะลอความชราด้วย ด้วยเหตุนี้ส่วนผสมที่เราใช้ซึ่งก็คือ สารสกัดจากชาเขียว สารสกัดจากข้าวสาลี สารสกัดจากกระบองเพชร สารสกัดจากพริกหยวก และ สารสกัดจากสาหร่ายเคลป์ ล้วนแล้วแต่มีคุณสมบัติช่วยรักษาสุขภาพและชะลอความชราทั้งสิ้น จึงเป็นเหตุที่ว่าทำไม ผลิตภัณฑ์เสริมอาหาร CHEV ถึงสามารถชะลอความชราได้
        </p>
        <div class="show-more">
            <a href="#" class="white-btn more-btn">Show more</a>
        </div>
      </div>
      <div class="clear"></div>
      <hr style="margin: 22px 0 15px">
      <div class="clear top-space"></div>

      <div class="col-md-2">
        <div class="center">
          <img class="cir-img max-width-200" style="width: 100%; margin-bottom: 2em;" src="public/img/yoyo.jpg" alt="Cat">
        </div>
      </div>

      <div class="col-md-10">
        <h3 style="font-weight:bold; margin-top: 10px;">ถ้าใช้ผลิตภัณฑ์เสริมอาหาร CHEV แล้วจะมี YOYO EFFECT หรือเปล่า ?</h3>
        <!-- <hr style="margin: 22px 0 15px"> -->
        <p class="sarabun hideContent content" style="font-size:1.1em;">
          ต้องเรียนให้ทุกท่านทราบก่อนว่า YOYO EFFECT นั้นเกิดขึ้นได้อย่างไร YOYO EFFECT เกิดจากที่เราลดความอ้วนด้วยการลดไขมันในร่างกายเพียงอย่างเดียวแต่ไม่เพิ่มกล้ามเนื้อให้กับร่างกาย ทำให้ปริมาณไขมันและปริมาณกล้ามเนื้อไม่สมดุลกันคือมีปริมาณกล้ามเนื้อที่น้อยเกินกว่าสภาวะปกติ ซึ่งกล้ามเนื้อเป็นปัจจัยสำคัญที่ใช้ในการเผาผลาญไขมันเมื่อกล้ามเนื้อน้อยก็เผาพลาญไขมันได้น้อยจึงทำให้เกิด YOYO EFFECT นั่นเอง ซึ่งถ้าจะให้หาสาเหตุที่แท้จริงที่ทำให้เกิด YOYO EFFECT นั้นมีอยุ่หลายสาเหตุด้วยกันเช่น การลดน้ำหนักโดยไม่มีออกกำลังกาย การรับประทานอาหารไม่สม่ำเสมอ หรือการที่ใช้ผลิตภัณฑ์เสริมอาหารที่ไม่ได้มาตราฐาน 
          <br><br>
          ซึ่งเมื่อเกิด YOYO EFFECT นั้นจะสามารถบอกได้ยากว่าจริงๆแล้วเกิดมาจากสาเหตุไหนกันแน่ ผลิตภัณฑ์เสริมอาหาร CHEV จึงขอให้เรียนให้ทราบเช่นนี้ ผลิตภัณฑ์เสริมอาหาร CHEVใช้ส่วนผสมที่ได้มาตราฐานนำเข้าจากต่างประเทศผ่านกรรมวิธีการผลิตที่ได้มาตราฐานสากล จึงมั่นใจได้เลยว่าผลิตภัณฑ์เสริมอาหาร CHEV ได้มาตราฐานอย่างแน่นอน ซึ่งถ้าทุกท่านใช้ผลิตภัณฑ์เสริมอาหาร CHEV ตามคำแนะนำของเรา ออกกำลังกายเป็นครั้งเคราวซึ่งเรามีการการออกแบบตารางการออกกำลังกายที่สะดวกสามารถเล่นที่บ้านได้ เหมาะสมกับคนทุกเพศทุกวัย และรับประทานอาหารอย่างสม่ำเสมอ ผลิตภัณฑ์เสริมอาหาร CHEV ขอการันตีได้เลยว่าทุกท่านใช้ผลิตภัณฑ์เสริมอาหาร CHEV ตามสุขลักษณะนี้จะไม่ได้รับผลกระทบจาก YOYO EFFECT อย่างแน่นอน
        </p>
        <div class="show-more">
            <a href="#" class="white-btn more-btn">Show more</a>
        </div>
      </div>
      <div class="clear"></div>
      <hr style="margin: 22px 0 15px">
      <div class="clear top-space"></div>

      <div class="col-md-2">
        <div class="center">
          <img class="cir-img max-width-200" style="width: 100%; margin-bottom: 2em;" src="public/img/who.jpg" alt="Cat">
        </div>
      </div>
      <div class="col-md-10">
        <h3 style="font-weight:bold; margin-top: 10px;">ผลิตภัณฑ์เสริมอาหาร CHEV เหมาะกับใครบ้างหล่ะ ?</h3>
        <!-- <hr style="margin: 22px 0 15px"> -->
        <p class="sarabun hideContent content" style="font-size:1.1em;">
          ผลิตภัณฑ์เสริมอาหาร CHEV เหมาะกับบุคคลต่างๆดังนี้ <br>
          1. บุลคลที่มีลักษณะท้วมหรืออ้วนและอยากจะกระชับสัดส่วน <br>
          2. บุคคลที่มีรูปร่างสมส่วนอยู่แล้วและอยากรักษารูปร่างที่ดีนี้ไว้ <br>
          3. ผู้สูงอายุที่สุ่มเสี่ยงต่อการเป็นโรคอ้วน ซึ่งจะนำซึ่งโรคต่างๆ <br>
          4. บุคคลที่ชอบสังสรรค์เวลากลางคืน เนื่องจากการนอนไม่เป็นเวลาและการดื่มแอลกอฮอล์เป็นอีกสาเหตุหนึ่งของความอ้วน <br>
          5. บุคคลที่ชอบทานอาหารประเภทบุฟเฟ่ต์ <br>

        </p>
        <div class="show-more">
            <a href="#" class="white-btn more-btn">Show more</a>
        </div>
      </div>
      <div class="clear"></div>
      <hr style="margin: 22px 0 15px">
      <div class="clear top-space"></div>

      <div class="col-md-2">
        <div class="center">
          <img class="cir-img max-width-200" style="width: 100%; margin-bottom: 2em;" src="public/img/greentea-1.jpg" alt="Cat">
        </div>
      </div>

      <div class="col-md-10">
        <h3 style="font-weight:bold; margin-top: 10px;">ผลิตภัณฑ์เสริมอาหาร CHEV อันตรายหรือเปล่า ?</h3>
        <!-- <hr style="margin: 22px 0 15px"> -->
        <p class="sarabun hideContent content" style="font-size:1.1em;">
          ผลิตภัณฑ์เสริมอาหาร CHEV ได้คัดสรรสารสกัดจากธรรมชาตินำเข้าจากต่างประเทศที่มีคุณภาพระดับพรีเมี่ยมและผลิตด้วยกรรมวิธีการผลิตที่ได้มาตราฐานระดับสากล ผลิตภัณฑ์เสริมอาหาร CHEV จึงสามารถการันตีได้ว่า ผลิตภัณฑ์เสริมอาหาร CHEV ไม่เป็นอันตรายต่อร่างกายอย่างแน่นอน
        </p>
        <div class="show-more">
            <a href="#" class="white-btn more-btn">Show more</a>
        </div>
      </div>
      <div class="clear"></div>
      <hr style="margin: 5px 0 15px">
      <div class="clear top-space"></div>


      <div class="col-md-2">
        <div class="center">
          <img class="cir-img max-width-200" style="width: 100%; margin-bottom: 2em;" src="public/img/quality.jpg" alt="Cat">
        </div>
      </div>
      <div class="col-md-10">
        <h3 style="font-weight:bold; margin-top: 10px;">ใช้ผลิตภัณฑ์เสริมอาหาร CHEV แค่ 15 วันจะเห็นผลจริงหรอ ?</h3>
        <p class="sarabun hideContent content" style="font-size:1.1em;">
          จากการวิจัยของทีมวิจัยแห่งผลิตภัณฑ์เสริมอาหาร CHEV กับกลุ่มทดลองที่มีความหลากหลาย โดยมีการให้กลุ่มทดลองใช้ผลิตภัณฑ์เสริมอาหาร CHEV ตามคำแนะนำการใช้ผลิตภัณฑ์อย่างถูกต้องโดยมีการออกกำลังกายเป็นครั้งเป็นคราวในระยะเวลาหนึ่ง ทีมนักวิจัยพบว่ากลุ่มทดลองสามารถเห็นผลลัพธ์ที่เห็นความแตกต่างจากการใช้ผลิตภัณฑ์เสริมอาหาร CHEV ภายในเวลาเพียง 15 วัน

        </p>
        <div class="show-more">
            <a href="#" class="white-btn more-btn">Show more</a>
        </div>
      </div>      
      <div class="clear"></div>
      <hr style="margin: 5px 0 15px">

      <div class="clear top-space"></div>

      <div class="top-space" style="padding-top: 2em;">

        <div class="col-md-4">
          <div class="center">
            <img class="max-width-300" style="width: 100%" src="public/img/15days.jpg" alt="Cat">
          </div>
        </div>
        <div class="col-md-4">
          <div class="center">
            <img class="max-width-300" style="width: 100%" src="public/img/100percent.jpg" alt="Cat">
          </div>
        </div>
        <div class="col-md-4">
          <div class="center">
            <img class="max-width-300" style="width: 100%" src="public/img/OrYorLogo.jpg" alt="Cat">
          </div>
        </div>

      </div>
      <div class="clear"></div>
      <div class="bottom-space"></div>
    </div>
</div>