<a name="top"></a>
<div class="container center bottom-space at-view-flip-in-vertical
         at-view-flip-out-vertical animated fadeIn">
	<div class="head-height"></div>	
    <div class="container">
    	<div class="clear"></div>
    	<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="tag-head">
				<h1 class="no-margin">เข้าสู่ระบบ<span ng-show="isLogin">แล้ว</span> <i class="fa fa-key"></i></h1>
				<h1 ng-show="welcomeMsg">{{welcomeMsg}}</h1>
				<h4 class="" ng-hide="isLogin">หากยังไม่มี <b><a href="signup" style="color:white;text-decoration:underline; font-size:1.2em;">สมัครใหม่เลยสิ</a></b></h4>
			</div>
			<div class="tag-tail">
				<form ng-submit="login()" ng-show="!isLogin">
					<input class="text-input" ng-model="form.email" type="text" name="mail" placeholder="E-mail" ng-class="(valid.password !== undefined)? 'invalid':''">
					<input class="text-input" ng-model="form.password" type="password" name="password" placeholder="Password" ng-class="(valid.password !== undefined)? 'invalid':''">
					<div class="noti" ng-bind="valid.password" style="top:-1.25em;"></div>
					<button type="submit" class="default-btn midium-size full-width">เข้าสู่ระบบ</button>
					<div ng-click="loginFB()" class="blue-btn midium-size full-width" style="line-height: 1.8em;"></span> เข้าสู่ระบบด้วย  <span class="fa fa-facebook-square" style="font-size:1.2em;"></div>
					
				</form>

				<h2 ng-show="isLogin" style="padding-bottom: 1em;">ยินดีต้อนรับครับคุณ {{userInfo.name_first}}</h2>
			</div>

			<div ng-click="" class="midium-size full-width" style="line-height: 1.8em; text-decoration:underline; font-size: 1.2em;"></span> <a href="forget" ng-show="!isLogin">ลืมรหัสผ่าน</a></div>
		</div>
    	<div class="col-sm-3"></div>
    	
    </div>

	<!-- <div class="jumbotron">
		<h2 class="biggersize">ยินดีต้อนรับคุณลูกค้า</h2>
		<h3 ng-show="!isLogin">ยังไม่มีบัญชีงั้นหรอ <a href="signup">สมัครใหม่เลยสิ</a></h3>
	</div>
	<div class="clear"></div>
	<div class="col-md-6 bottom-space">
		<i class="fa fa-key feature-icon"></i> 
	</div>
	<div class="col-md-6 verticalLine" style="padding-top:0.8em">
		Here is Alert Box
		<div alert-box class="col-md-12 alertBox" style="display:none;"></div>

		
		<form ng-submit="login()" ng-show="!isLogin">
			<input class="text-input" ng-model="form.email" type="text" name="mail" placeholder="E-mail" ng-class="(valid.password !== undefined)? 'invalid':''">
			<input class="text-input" ng-model="form.password" type="password" name="password" placeholder="Password" ng-class="(valid.password !== undefined)? 'invalid':''">
			<div class="noti" ng-bind="valid.password" style="top:-1.25em;"></div>
			<button type="submit" class="default-btn midium-size full-width">เข้าสู่ระบบ</button>
		</form>
		
		<h2 class="jumbotron" ng-show="isLogin">คุณได้เข้าสู่ระบบแล้ว คุณสามารถ <a href="logout">ออกจากระบบ</a> ที่นี่</h2>
	</div> -->
	<div class="clear"></div>

</div>