<div class="center bottom-space animated fadeIn">
	<div class="jumbotron center">
    <h2 style="font-size:2.4em">ประวัติการสั่งซื้อทั้งหมดของคุณ {{userInfo.name_first}}</h2>
    <!-- <h3>ยังไม่ได้เข้าจ๊ะ <a href="login">เข้าดิฟระ</a></h3> -->
  </div>
	<div class="container">
    <!--===================== Waiting Order ==========================-->

    <div class="page-header left"><h2>รายการที่รอการดำเนินการ</h2></div>

    <div class="col-md-12">
      <div class="col-md-6" ng-repeat="(key,order) in orders">
        <div ng-class="{ 'red-panel':{{order.status==0}}, 'yellow-panel': {{order.status==1}} }" style="text-align:left; height:100%" ng-show="order.status!=2">
          <div class="col-md-3">            
            <h1><i class="fa" style="font-size:3em;" ng-class="{ 'fa-pencil-square-o':{{order.status==0}}, 'fa-clock-o': {{order.status==1}} }"></i></h1>
          </div>
          <div class="col-md-9" style="padding-top:1em;">
            <div ng-show="order.status==0" ><span class="fa fa-close right flat-red" style="width:100%; font-size:1.2em; float:right;"></span> </div>
            สถานะการสั่งซื้อ <b style="font-size:1.2em; ">{{(order.status==0)? "รอการยืนยันการโอนเงิน": (order.status==1)? "รอการตรวจสอบ": "ทำการจัดส่งให้ท่านแล้ว"}}</b>
            <br>
            จะทำการจัดส่งไปให้คุณ <b>{{order.address.title}}</b> <br>
            มูลค่าสินค้า: <b>{{order.total}} บาท</b><br>

            <div ng-show="order.status==1">
              โอนผ่านธนาคาร <b>{{order.payInfo.bank}}</b> <br>
              โอนด้วยเงิน: <b>{{order.payInfo.amount}} บาท</b><br>
            </div>
            <div ng-show="order.status==0" ><br></div>
            
            <div>
              <div class="flat-white-btn col-md-6" data-toggle="modal" data-target="#orderInfo" ng-click="toggleOrderInfo(key)">รายละเอียดเพิ่มเติม</div>
              <div class="flat-red-btn col-md-6" data-toggle="modal" data-target="#transferConfirm" ng-click="setTransferItem(order.id)" ng-show="order.status==0">ยืนยันการโอนเงิน</div>
              <div class="flat-yellow-btn col-md-6" data-toggle="modal" data-target="#cancelConfirm" ng-click="setCancelItem(order.id)" ng-show="order.status==1">ยกเลิกการยืนยัน</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="clear"></div>
          
        </div>
        
        
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    

    <!--===================== Completed Order ==========================-->
    <div class="page-header left"><h2>รายการจัดส่งสินค้าแล้ว</h2></div>

    <div class="col-md-12">
      <div class="col-md-6" ng-repeat="(key,order) in orders">
        <div ng-class="{ 'green-panel':{{order.status==2}}, 'white-panel': {{order.status!=2}} }" style="text-align:left; height:100%" ng-show="order.status==2">
          <div class="col-md-3">            
            <h1><i class="fa fa-truck" style="font-size:3em;"></i></h1>
          </div>
          <div class="col-md-9" style="padding-top:1em;">
            สถานะการสั่งซื้อ <b style="font-size:1.2em; ">{{(order.status==0)? "รอการยืนยันการโอนเงิน": (order.status==1)? "รอการจัดส่ง": "ทำการจัดส่งให้ท่านแล้ว"}}</b>
            <br>
            จัดส่งไปให้คุณ <b>{{order.address.title}}</b> <br>
            Tracking ID: <b>{{order.sendInfo.tracking_code}}</b><br>
            วันที่คาดว่าจะส่งถึง: <b>{{order.sendInfo.arrival_date}}</b><br>
            มูลค่าสินค้า: <b>{{order.total}} บาท</b><br>
            
            <div>
              <div class="default-btn col-md-6" data-toggle="modal" data-target="#orderInfo" ng-click="toggleOrderInfo(key)">รายละเอียดเพิ่มเติม</div>
              <div class="default-btn col-md-6" data-toggle="modal" data-target="#transferConfirm" ng-click="setTransferItem(order.id)" ng-show="order.status==0">ยืนยันการโอนเงิน</div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="clear"></div>
          
        </div>
        
        
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    

  </div>
</div>


  <!-- Modal for Transfer Confirm -->
  <div class="modal fade left" id="transferConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><b>ยืนยันการโอนเงิน</b></h4>
        </div>
        <div class="modal-body">
          <form class="" style="" >
            <div class="col-sm-12">
              <label for="amount">จำนวนเงินที่โอน</label>
              <input class="small-input" ng-class="(valid.amount !== undefined)? 'invalid':''" type="number" ng-model="transfer.amount" name="amount" required>
              <div class="noti" ng-bind="valid.amount"></div>
            </div>
            <div class="clear"></div>
            <div class="col-sm-12">
              <label for="bank">โอนจากธนาคาร</label>
              <!-- <input class="small-input" type="text" ng-model="trasfer.bank" name="bank" required> -->
              <select name="bank" class="small-input"  id="bank" ng-model="transfer.bank" ng-init="transfer.bank = 'ธนาคารกสิกรไทย'">
                <option value="ธนาคารกสิกรไทย" selected>ธนาคารกสิกรไทย</option>
                <option value="ธนาคารไทยพาณิช">ธนาคารไทยพาณิช</option>
                <option value="ธนาคารกรุงเทพ">ธนาคารกรุงเทพ</option>
                <option value="ธนาคารกรุงไทย">ธนาคารกรุงไทย</option>
                <option value="ธนาคารทหารไทย">ธนาคารทหารไทย</option>
                <option value="ธนาคารออมสิน">ธนาคารออมสิน</option>
                <option value="ธนาคารกรุงศรีอยุทยา">ธนาคารกรุงศรีอยุทยา</option>
                <option value="ธนาคารธนชาติ">ธนาคารธนชาติ</option>
              </select>
            </div>
            <div class="clear"></div>
            <div class="clear"></div>
            <div class="col-sm-6">
              <label for="tel">เวลาที่โอนเงิน</label>
              <!-- <input class="small-input" type="text" ng-model="transfer.tel" name="tel" required> -->
              <input ng-model="transfer.time_before" ng-class="(valid.payTime !== undefined)? 'invalid':''" type="time" data-field="time"  class="small-input" required>
              <div class="noti" ng-bind="valid.payTime"></div>
            </div>
            <div class="col-sm-6">
              <label for="tel">วันที่โอนเงิน</label>
              <!-- <input class="small-input" type="text" ng-model="transfer.tel" name="tel" required> -->
              <input ng-model="transfer.date_before" ng-class="(valid.payTime !== undefined)? 'invalid':''" type="date" data-field="date"  class="small-input" required>
              <div class="noti" ng-bind="valid.payTime"></div>
            </div>
            <div id="dtBox"></div>
            <div class="clear"></div>
          </form>

          

        </div>
        <div class="modal-footer">
          <button type="button" class="white-btn" data-dismiss="modal">ยกเลิก</button>
          <button type="button" class="default-btn" ng-click="updateTransfer()">บันทึก</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal for Order Info -->
  <div class="modal fade left" id="orderInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><b>ข้อมูลการสั่งซื้อ</b></h4>
        </div>
        <div class="modal-body">
          <b>สถานะออร์เดอร์ปัจจุบัน <span style="font-size:1.2em; ">{{(currentOrder.status==0)? "รอการยืนยันการโอนเงิน": (currentOrder.status==1)? "รอการจัดส่ง": "ทำการจัดส่งให้ท่านแล้ว"}}</span></b> 
          <div ng-show="currentOrder.status==2">
            <hr>
            Tracking ID: <b style="font-size:1.2em; ">{{currentOrder.sendInfo.tracking_code}}</b> <br>
            เวลาที่คาดว่าจะส่งถึง: <b style="font-size:1.2em; ">{{currentOrder.sendInfo.arrival_date}}</b>
          </div>
          <hr>
          <b>ที่อยู่ที่ใช้ในการจัดส่ง</b> <br>
              {{currentOrder.address.title}}  
              <br>
                {{currentOrder.address.house}} {{currentOrder.address.house_name}} {{currentOrder.address.road}} {{currentOrder.address.county}} <br>
                {{currentOrder.address.district}} {{currentOrder.address.province}} <br>
                {{currentOrder.address.postcode}}
              <br>
          <hr>
          <b>รายการสินค้าที่ทำการสั่งซื้อ</b>
          <table class="table table-hover" >
            <thead>
              <tr>
                <th>สินค้า</th>
                <th>จำนวน</th>
                <th>ราคา</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in currentOrder.products">
                <th>{{value.product.name}}</th>
                <th>{{value.setAmount}} ชิ้น</th>
                <th>{{value.product.allprice * value.setAmount}} บาท</th>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="white-btn" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for CANCEL TRANSFER -->
  <div class="modal fade left" id="cancelConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><b>ข้อมูลการสั่งซื้อ</b></h4>
        </div>
        <div class="modal-body">
          <h3 class="center">คุณต้องการยกเลิกการโอนเงินจริงหรือไม่ ?</h3>

        </div>
        <div class="modal-footer">
          <button type="button" class="flat-white-btn" data-dismiss="modal">ปิด</button>          
          <button type="button" class="flat-yellow-btn" ng-click="cancelTransfer()">ต้องการยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
  


