<a name="top"></a>
<div class="center at-view-flip-in-vertical
         at-view-flip-out-vertical animated fadeIn">
	<div style="background-color: #A3C242; color:white;">
      <div class="container text-shadow" >
        <div class="center jumbotron">
          <h1 class="title">PRODUCTS</h1>
          <h2 class="no-margin" style="line-height:1.5em;">Our products are well stored in a standard warehouse  to make sure that you get a greatly fresh one. </h2> 
          <h3 class="no-margin" style="line-height:1.5em;">เราเก็บสินค้าด้วยความเอาใจใส่ในคลังเก็บสินค้าที่ได้มาตราฐาน คุณลูกค้ามั่นใจได้เลยว่าจะได้สินค้าที่มีคุณภาพเสมอ 
		  </h3>
          
          
        </div>

      </div> <!-- /container -->
    </div>
	<div class="clear"></div>
	<div class="shadow-top center" style="background-color:white;">
		<div style="height: 2em"></div>
		<div class="col-md-5" style="padding-top: 2em;">
			<img src="public/img/promotionProduct2.jpg" style="width:100%;" class="max-width-400"  alt="Product">
		</div>
		<div class="col-md-7 bottom-space left" style="padding-top:0.8em">
			<h1 class="left">3Plus Promotion - 3พลัส โปรโมชั่น</h1>
			<hr>
			<p class="col-md-12 sarabun hideContent2 content">
				โปรโมชั่น 3 พลัส คือเมื่อท่านซื้อผลิตภัณฑ์เสริมอาหาร CHEV 3 ชิ้นท่านจะสามารถซื้อได้เพียงราคา 2490 บาท จากราคาจริงๆ 2970 บาท นั่นคือท่านสามารถประเงินของท่านได้ถึง 480 บาทเลยทีเดียวเพื่อที่ท่านจะได้มีหุ่นกระชับอย่างต่อเนื่องและถาวรในที่สุด หรือถ้าท่านอยากแชร์หุ่นกระชับให้เพื่อน โปรโมชั่นนี้ก็จะเป็นตัวเลือกที่เหมาะกับท่านอย่างที่สุด
				<br><br>
				หมายเหตุ : ราคาดังกล่าวรวมค่าจัดส่งเรียบร้อยแล้ว
				<br><br>
			</p>
			<div class="show-more">
	            <a href="#" class="white-btn more-btn">Show more</a>
	        </div>
			<div class="clear"></div>
			<div class="left">
				<h4>
					<div class="col-md-6"><b>ราคาสินค้า</b><b style="color:red;"> (รวมค่าจัดส่ง)</b></div>
					<div class="col-md-6">2,490 บาท</div>
				</h4>
				<div class="clear"></div>
				<h4>
					<div class="col-md-6"><b>ประกอบไปด้วย</b></div>
					<div class="col-md-6">CHEV 3 ขวด</div>
				</h4>
				<div class="clear"></div>
			</div>

			<hr>
			
			<div class="col-md-6 col-sm-12">
				<input id="amount" type="number" name="amount" class="text-input" style="top:0.15em; border-radius:0px;" ng-model="amount2" min="1">
			</div>
			<div class="clear"></div>
			<div class="col-md-6 col-sm-12">
				<button ng-click="addToCart(2)" type="submit" class="default-btn midium-size full-width"><i class="glyphicon glyphicon-shopping-cart"></i> เพิ่มลงตะกร้า</button>
			</div>

	        <script>
	            $("input[name='amount']").TouchSpin({
	                initval: 1,
	                buttondown_class: "spiner-btn-left",
            		buttonup_class: "spiner-btn-right"
	            });
	        </script>	    
		<div class="col-md-1"></div>
		</div>
		<div class="clear"></div>	
	</div>
	<div class="center" style="background-color:white;">
		<div style="height: 2em"></div>
		<!-- <div class="col-md-1"></div> -->
		<div class="col-md-5" style="padding-top: 2em;">
			<img src="public/img/Shop_product.jpg" style="width:50%;" class="max-width-200" alt="Product">			
		</div>
		<div class="col-md-7 bottom-space left" style="padding-top:0.8em">
			<h1 class="left">CHEV dietary supplement - เชฟ</h1>
			<hr>
			<p class="col-md-12 sarabun hideContent2 content">
				ผลิตภัณฑ์เสริมอาหาร CHEV หนึ่งชิ้นประกอบด้วย 30 แท็บเล็ตบรรจุอยู่ในบรรจุภัณฑ์ป้องกันแสง พร้อมด้วยตัวดูดความชื้น รวมถึงเคลืบฟิลม์ชิงล์ และมีฉลากภาษาไทยคอยให้ข้อมูลลูกค้าทุกท่านอย่างเที่ยงตรงและปลอดภัย
				<br><br>
				หมายเหตุ : ราคาดังกล่าวรวมค่าจัดส่งเรียบร้อยแล้ว
				<br><br>
			</p>
			<div class="show-more">
	            <a href="#" class="white-btn more-btn">Show more</a>
	        </div>
			<div class="clear"></div>
			<div class="left">
				<h4>
					<div class="col-md-6"><b>ราคาสินค้า</b><b style="color:red;"> (รวมค่าจัดส่ง)</b></div>
					<div class="col-md-6">990 บาท</div>
				</h4>
				<div class="clear"></div>
				<h4>
					<div class="col-md-6"><b>ประกอบไปด้วย</b></div>
					<div class="col-md-6">30 แท็บเล็ต</div>
				</h4>
				<div class="clear"></div>
			</div>

			<hr>
			<!-- Here is Alert Box -->
			<!-- <div alert-box class="col-md-12 alertBox" s style="display:none;"></div> -->
			
			<div class="col-md-6 col-sm-12">
				<input id="amount1" type="number" value="" name="amount1" class="text-input" style="top:0.15em; border-radius:0px;" ng-model="amount1" min="1">
			</div>
			<div class="clear"></div>
			<div class="col-md-6 col-sm-12">
				<button ng-click="addToCart(1)" type="submit" class="default-btn midium-size full-width"><i class="glyphicon glyphicon-shopping-cart"></i> เพิ่มลงตะกร้า</button>
			</div>

	        <script>
	            $("input[name='amount1']").TouchSpin({
	                initval: 1,
	                buttondown_class: "spiner-btn-left",
            		buttonup_class: "spiner-btn-right"
	            });
	        </script>	    
		<div class="col-md-1"></div>
		</div>
		<div class="clear"></div>	
	</div>
	

</div>