<a name="top"></a>
<div class="center bottom-space animated fadeIn">
	<div style="background-color: #A3C242; color:white;">
      <div class="container text-shadow" >
        <div class="center jumbotron">
          <h1 class="title">เคล็ดลับความสำเร็จ</h1>
          <h2 class="no-margin" style="line-height:1.5em;">รอบางสิ่งอย่างที่หายไป ...</h2> 
          <h3 class="no-margin" style="line-height:1.5em;">Waiting for something ...</h3>
          
          
        </div>

      </div> <!-- /container -->
    </div>
	<div class="top-space"></div>
	
  <div class="container left">
    <h2 class="no-margin" style="line-height:1.5em;">30 DAYS SUMMER BODY PROGRAM</h2> 
    <h3 class="no-margin" style="line-height:1.5em;">โปรแกรมหุ่นเฟริมใน 30 วัน</h3>

    <hr>

    <p class="sarabun left">ผลิตภัณฑ์เสริมอาหาร CHEV ได้ออกแบบโปรแกรมการออกกำลังกายที่มีประสิทธิภาพ เห็นผลจริง สามารถเล่นที่บ้านได้ ทำให้คุณสามารถมีหุ่นสวยกระชับได้ใน 30 วัน</p>
    <p class="sarabun left">
      <b>คำแนะนำในการใช้โปรแกรม</b> <br>
      <b>1.</b>  โปรแกรมการออกกำลังกายสามารถถูกเปลี่ยนแปลงได้ตามสมรรถนะ อายุ และวัตถุประสงค์ของผู้ออกกำลัยกาย <br>
      <b>2.</b>  เวลาพักของการออกกำลังกายแต่ละ SET อยุ่ที่ 120-180 วินาที ขึ้นอยุ่กับความเหนื่อยล้าของร่างกาย <br>
      <b>3.</b>  เพื่อเพิ่มความเข้มข้นของการออกกำลังกาย ผู้ที่ออกกำลังกายสามารถเพิ่มการออกกำลังกายแบบแอโรบิกหรือที่เรียกว่า Cardio เป็นเวลา เช่น การเดินเร็ว การวิ่ง หรือการว่ายนำ้ เป็นต้น เป็นเวลา 20-30 นาที หลังการออกกำลัยกายตามตารางในแต่ละวัน <br>
      <b>4.</b>  ในระหว่าง SET ถ้าผู้ที่ออกกำลัยกายไม่สามารถที่จะออกกำลัยต่อเนื่องรวดเดียวสำเร็จได้ ผู้ออกกำลังกายสามารถหยุดพัก 20-30 วินาที ตามความเหนื่อยล้า <br>

    </p>

    <p class="sarabun left">
      <b>การอ่านตารางการออกกำลัยกาย</b> <br>
      DAY 1 <br>
      SET 1 : 50 CRUNCHES <br>
      SET 2 : 60 SECOND PLANK <br>
      SET 3 : 60 SECOND PLANK <br>
      เริ่มด้วยการเล่นท่า CHRUNCH 50 ครั้ง เสร็จแล้วพัก 120-180 วินาที <br>
      และต่อด้วย เล่นท่า PLANK 60 วินาที เสร็จแล้วพัก 120-180 วินาที <br>
      สุดท้าย เล่นท่า PLANK อีก 60 วินาที จบวันที่ 1 <br>

    </p>




    <div class="row row1">
      <div class="col-sm-2">
        <div class="day-header">Day 1</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('CRUNCHES')">SET 1 : 50 CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 2</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BICYCLE')">SET 1 : 100 BICYCLE CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 30 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 30 SECOND PLANK</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 3</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BURPEES')">SET 1 : 50 BURPEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('KICK')">SET 2 : 50 KICK DOWN CRUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 4</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('CRUNCHES')">SET 1 : 200 CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SKATER')">SET 2 : 100 SKATER SLIDES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 5</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('KNEE')">SET 1 : 100 HIGH KNEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('RUSSIAN')">SET 2 : 75 RUSSIAN TWISTS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 6</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SUPERMAN')">SET 1 : 50 SUPERMANS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT')">SET 2 : 50 SQUATS</a></li>
          </ul>
        </div>
      </div>
      
    </div> 
    <!-- End Row1 -->
    <!-- Start Row2 -->
    <div class="row row2">
      <div class="col-sm-2">
        <div class="day-header">Day 7</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 1 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('JUMPING')">SET 4 : 200 JUMPING JACKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 8</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('DONKEY')">SET 1 : 50 DONKEY KICK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BICYCLE')">SET 2 : 100 BICYCLE CRUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 9</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT')">SET 1 : 25 SQUATS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('CRUNCHES')">SET 2 : 100 SKATER SLIDES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 10</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT-J')">SET 1 : 50 SQUAT JUMPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('CRUNCHES')">SET 2 : 200 CRUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 11</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUSH')">SET 1 : 25 PUSH UPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('TRICEP')">SET 2 : 75 TRICEP DIPS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 12</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUNCHES')">SET 1 : 200 PUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BUTT')">SET 2 : 200 BUTT KICKS</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- End Row2 -->
    <!-- Start Row3 -->
    <div class="row row3">
      <div class="col-sm-2">
        <div class="day-header">Day 13</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK-W')">SET 1 : 50 PLANK WALKS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('LUNGES')">SET 2 : 50 LUNGES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 14</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('WOOD')">SET 1 : 50 WOOD CHOPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT-J')">SET 2 : 50 SQUAT JUMPS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 15</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 1 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('RUSSIAN')">SET 4 : 100 RUSSIAN TWISTS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 16</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('LUNGES')">SET 1 : 50 LUNGES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('DONKEY')">SET 2 : 50 DONKEY KICKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 17</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUSH')">SET 1 : 35 PUSH UPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('MOUNTAIN')">SET 2 : 100 MOUNTAIN CLIMBERS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 18</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('TRICEP')">SET 1 : 100 TRICEP DIPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT-J')">SET 2 : 50 SQUAT JUMPS</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- End Row3 -->
    <!-- Start Row4 -->
    <div class="row row4">
      <div class="col-sm-2">
        <div class="day-header">Day 19</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('KNEE')">SET 1 : 200 HIGH KNEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SUPERMAN')">SET 2 : 100 SUPERMANS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 20</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BURPEES')">SET 1 : 75 BURPEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 4 : 60 SECOND PLANK</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 21</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BICYCLE')">SET 1 : 200 BICYCLE  CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUNCHES')">SET 2 : 200 PUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 22</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BURPEES')">SET 1 : 35 BURPEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('STANDING')">SET 2 : 200 STANDING SIDE CRUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 23</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('LUNGES')">SET 1 : 50 LUNGES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('CRUNCHES')">SET 2 : 100 SKATER SLIDES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 24</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('WOOD')">SET 1 : 50 WOOD CHOPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('MOUNTAIN')">SET 2 : 200 MOUNTAIN CLIMBERS</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- End Row4 -->
    <!-- Start Row5 -->
    <div class="row row5">
      <div class="col-sm-2">
        <div class="day-header">Day 25</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SUPERMAN')">SET 1 : 100 SUPERMANS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK-J')">SET 2 : 200 PLANK JACKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 26</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BICYCLE')">SET 1 : 200 BICYCLE CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BUTT')">SET 2 : 200 BUTT KICKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 27</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('RUSSIAN')">SET 1 : 100 RUSSIAN TWISTS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 4 : 60 SECOND PLANK</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 28</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUSH')">SET 1 : 25 PUSH UPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SEAL')">SET 2 : 200 SEAL JACKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 29</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('LUNGES')">SET 1 : 50 LUNGES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('FROGGIES')">SET 2 : 100 FROGGIES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 30</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT-J')">SET 1 : 200 SQUAT JUMPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('V')">SET 2 : 100 V UPS</a></li>
          </ul>
        </div>
      </div>

    </div>


    <h2 class="no-margin" style="line-height:1.5em;">Calorie Calculator</h2> 
    <h3 class="no-margin" style="line-height:1.5em;">เครื่องคำนวณแคลลอรี่ที่ใช้ในแต่ละวัน</h3>

    <hr>

    <div class="container top-space">

      <div class="form-horizontal col-sm-offset-4 col-sm-4">

        <div class="form-group">
          <label class="col-sm-4 control-label">Age: </label>
          <div class="col-sm-7 input-group">
            <input class="form-control" type="number" id="age" ng-model="
            age"></input>
            <div class="input-group-addon">Years</div>
          </div>          
          <!-- <label class="control-label">Years</label> -->
        </div>

        <div class="form-group">
          <label class="col-sm-4  control-label">Gender:</label>
          <div class="col-sm-7">
            <label class="radio-inline">
              <input type="radio" ng-model="gender" value="male" name="gender" id="male" checked> Male
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="gender" value="female" name="gender" id="female"> Female
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4  control-label">Weight: </label>
          <div class="col-sm-7 input-group">
            <input class="form-control" type="number" id="weight" ng-model="weight"></input>
            <div class="input-group-addon">Kilos</div>
          </div>          
        </div>

        <div class="form-group">
          <label class="col-sm-4  control-label">Height: </label>
          <div class="col-sm-7 input-group">
            <input class="form-control" type="number" id="height" ng-model="height"></input>
            <div class="input-group-addon">CMs</div>            
          </div>          
        </div>

        <div class="col-sm-12" style="text-align:center;">
          <button class="default-btn" ng-click="calculateCal()">Calculate</button>
        </div>

      </div> <!-- End of Form Horizontal -->



      <div class="calResult col-sm-4 col-sm-offset-4 " style="display:none;">
        <h3 class="center">Total Calories for Each Day</h3>
        <hr class="">
        <div class="calBox1">
          <span class="title">Maintenance</span><br>
          <span><b>{{cal}}</b> <small>Calories/Day</small></span><br>
          <div class="bar" style="width:{{bar1}}%;">&nbsp;</div>
        </div>
        <div class="calBox2">
          <span class="title">Fat Loss</span><br>
          <span><b>{{cal - 200}}</b> <small>Calories/Day</small></span><br>
          <div class="bar" style="width:{{bar2}}%;">&nbsp;</div>
        </div>
        <div class="calBox3">
          <span class="title">Extreme Fat Loss</span><br>
          <span><b>{{cal - 400}}</b> <small>Calories/Day</small></span><br>
          <div class="bar" style="width:{{bar3}}%;">&nbsp;</div>
        </div>
        <div class="col-sm-12 center">
          <button class="white-btn" ng-click="reCal()">Recalculate</button>
        </div
      </div>

    </div>

   

  </div>


</div>



<div class="modal fade left" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        
        <!-- <h4 class="modal-title" id="myModalLabel"><b></b></h4> -->
      <!-- </div>  -->
      <div class="modal-body videoModal" style="height: 400px">
        <!-- <h3 class="center">คุณต้องการยกเลิกการโอนเงินจริงหรือไม่ ?</h3> -->
        <!-- {{videoUrl}} -->
          <button type="button" class="closeVideo" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <iframe width="100%" height="auto" src={{videoUrl}} style="min-height: 400px;" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="flat-white-btn" data-dismiss="modal">ปิด</button>          
      </div> -->
    </div>
  </div>
</div>