<a name="top"></a>
<div class="center bottom-space animated fadeIn">
	<div style="background-color: #A3C242; color:white;">
      <div class="container text-shadow" >
        <div class="center jumbotron">
          <h1 class="title">SUCCESS RECIPES</h1>
          <h2 class="no-margin" style="line-height:1.5em;">With CHEV’s a effective workout program and meal plan. They provide you a real guarantee long-term weight loss.</h2> 
          <h3 class="no-margin" style="line-height:1.5em;">ด้วยโปรแกรมการออกกำลังกายและโภชนการที่มีประสิทธิภาพ สิ่งเหล่านี้จะการันตีว่าคุณจะมีหุ่นกระชับถาวรอย่างแน่นอน</h3>
          
          
        </div>

      </div> <!-- /container -->
    </div>
	<div class="top-space"></div>


  <div style="background-image:url('public/img/background_fitness.jpg'); width:100%; padding-top: 2em; padding-bottom:2em; margin-bottom:2em; background-size:cover;">
    <div class="container left">
      <h2 class="no-margin" style="line-height:1.5em;">30 DAYS SUMMER BODY PROGRAM</h2> 
      <h3 class="no-margin" style="line-height:1.5em;">โปรแกรมหุ่นเฟิร์มใน 30 วัน</h3>

    </div>

  </div>
	
  <div class="container left">

    <!-- <hr> -->

    <p class="sarabun left">ผลิตภัณฑ์เสริมอาหาร CHEV ได้ออกแบบโปรแกรมการออกกำลังกายที่มีประสิทธิภาพ เห็นผลจริง สามารถเล่นที่บ้านได้ ทำให้คุณสามารถมีหุ่นสวยกระชับได้ใน 30 วัน</p>
    <p class="sarabun left">
      <b>คำแนะนำในการใช้โปรแกรม</b> <br>
      <b>1.</b>  โปรแกรมการออกกำลังกายสามารถถูกเปลี่ยนแปลงได้ตามสมรรถนะ อายุ และวัตถุประสงค์ของผู้ออกกำลังกาย <br>
      <b>2.</b>  เวลาพักของการออกกำลังกายแต่ละ SET อยุ่ที่ 120-180 วินาที ขึ้นอยู่กับความเหนื่อยล้าของร่างกาย <br>
      <b>3.</b>  เพื่อเพิ่มความเข้มข้นของการออกกำลังกาย ผู้ที่ออกกำลังกายสามารถเพิ่มการออกกำลังกายแบบแอโรบิกหรือที่เรียกว่า Cardio เป็นเวลา เช่น การเดินเร็ว การวิ่ง หรือการว่ายนำ้ เป็นต้น เป็นเวลา 20-30 นาที หลังการออกกำลังกายตามตารางในแต่ละวัน <br>
      <b>4.</b>  ในระหว่าง SET ถ้าผู้ที่ออกกำลังกายไม่สามารถที่จะออกกำลังต่อเนื่องรวดเดียวสำเร็จได้ ผู้ออกกำลังกายสามารถหยุดพัก 20-30 วินาที ตามความเหนื่อยล้า <br>

    </p>

    <p class="sarabun left">
      <b>การอ่านตารางการออกกำลังกาย</b> <br>
      <b> DAY 1 </b><br>
      SET 1 : 50 CRUNCHES <br>
      SET 2 : 60 SECOND PLANK <br>
      SET 3 : 60 SECOND PLANK <br>
      เริ่มด้วยการเล่นท่า CHRUNCH 50 ครั้ง เสร็จแล้วพัก 120-180 วินาที <br>
      และต่อด้วย เล่นท่า PLANK 60 วินาที เสร็จแล้วพัก 120-180 วินาที <br>
      สุดท้าย เล่นท่า PLANK อีก 60 วินาที จบวันที่ 1 <br>

    </p>




    <div class="row row1">
      <div class="col-sm-2">
        <div class="day-header">Day 1</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('CRUNCHES')">SET 1 : 50 CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 2</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BICYCLE')">SET 1 : 100 BICYCLE CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 30 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 30 SECOND PLANK</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 3</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BURPEES')">SET 1 : 50 BURPEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('KICK')">SET 2 : 50 KICK DOWN CRUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 4</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('CRUNCHES')">SET 1 : 200 CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('KNEE')">SET 2 : 100 HIGH KNEES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 5</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('KNEE')">SET 1 : 100 HIGH KNEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('RUSSIAN')">SET 2 : 75 RUSSIAN TWISTS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 6</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SUPERMAN')">SET 1 : 50 SUPERMANS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT')">SET 2 : 50 SQUATS</a></li>
          </ul>
        </div>
      </div>
      
    </div> 
    <!-- End Row1 -->
    <!-- Start Row2 -->
    <div class="row row2">
      <div class="col-sm-2">
        <div class="day-header">Day 7</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 1 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('JUMPING')">SET 4 : 200 JUMPING JACKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 8</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('DONKEY')">SET 1 : 50 DONKEY KICK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BICYCLE')">SET 2 : 100 BICYCLE CRUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 9</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT')">SET 1 : 25 SQUATS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('KNEE')">SET 2 : 100 HIGH KNEES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 10</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT-J')">SET 1 : 50 SQUAT JUMPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('CRUNCHES')">SET 2 : 200 CRUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 11</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUSH')">SET 1 : 25 PUSH UPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('TRICEP')">SET 2 : 75 TRICEP DIPS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 12</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUNCHES')">SET 1 : 200 PUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BUTT')">SET 2 : 200 BUTT KICKS</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- End Row2 -->
    <!-- Start Row3 -->
    <div class="row row3">
      <div class="col-sm-2">
        <div class="day-header">Day 13</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK-W')">SET 1 : 50 PLANK WALKS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('LUNGES')">SET 2 : 50 LUNGES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 14</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('WOOD')">SET 1 : 50 WOOD CHOPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT-J')">SET 2 : 50 SQUAT JUMPS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 15</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 1 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('RUSSIAN')">SET 4 : 100 RUSSIAN TWISTS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 16</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('LUNGES')">SET 1 : 50 LUNGES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('DONKEY')">SET 2 : 50 DONKEY KICKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 17</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUSH')">SET 1 : 35 PUSH UPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('MOUNTAIN')">SET 2 : 100 MOUNTAIN CLIMBERS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 18</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('TRICEP')">SET 1 : 100 TRICEP DIPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT-J')">SET 2 : 50 SQUAT JUMPS</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- End Row3 -->
    <!-- Start Row4 -->
    <div class="row row4">
      <div class="col-sm-2">
        <div class="day-header">Day 19</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('KNEE')">SET 1 : 200 HIGH KNEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SUPERMAN')">SET 2 : 100 SUPERMANS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 20</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BURPEES')">SET 1 : 75 BURPEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 4 : 60 SECOND PLANK</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 21</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BICYCLE')">SET 1 : 200 BICYCLE  CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUNCHES')">SET 2 : 200 PUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 22</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BURPEES')">SET 1 : 35 BURPEES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('STANDING')">SET 2 : 200 STANDING SIDE CRUNCHES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 23</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('LUNGES')">SET 1 : 50 LUNGES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('KNEE')">SET 2 : 100 HIGH KNEES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 24</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('WOOD')">SET 1 : 50 WOOD CHOPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('MOUNTAIN')">SET 2 : 200 MOUNTAIN CLIMBERS</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- End Row4 -->
    <!-- Start Row5 -->
    <div class="row row5">
      <div class="col-sm-2">
        <div class="day-header">Day 25</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SUPERMAN')">SET 1 : 100 SUPERMANS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK-J')">SET 2 : 200 PLANK JACKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 26</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BICYCLE')">SET 1 : 200 BICYCLE CRUNCHES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('BUTT')">SET 2 : 200 BUTT KICKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 27</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('RUSSIAN')">SET 1 : 100 RUSSIAN TWISTS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 2 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 3 : 60 SECOND PLANK</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PLANK')">SET 4 : 60 SECOND PLANK</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 28</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('PUSH')">SET 1 : 25 PUSH UPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SEAL')">SET 2 : 200 SEAL JACKS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 29</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('LUNGES')">SET 1 : 50 LUNGES</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('FROGGIES')">SET 2 : 100 FROGGIES</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="day-header">Day 30</div>
        <div class="day-content">
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('SQUAT-J')">SET 1 : 200 SQUAT JUMPS</a></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" ng-click="openVideo('V')">SET 2 : 100 V UPS</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div style="background-image:url('public/img/background_food.jpg'); width:100%; padding-top: 2em; padding-bottom:2em; margin-bottom:2em; background-size:cover;">
    <div class="container left">
      <h2 class="no-margin" style="line-height:1.5em;">SUMMER BODY MEAL PLAN</h2> 
      <h3 class="no-margin" style="line-height:1.5em;">โปรแกรมการโภชนาการกระชับสัดส่วนถาวร</h3>

    </div>

  </div>

  <div class="container left">

    <div class="sarabun">
      ผลิตภัณฑ์เสริมอาหาร CHEV ได้ออกแบบโปรแกรมการโภชนาการที่มีประสิทธิภาพ เห็นผลจริง โดยที่คุณไ่ม่ต้องเปลี่ยนวิถีชวิตของผู้ใช้อย่างมากเกินไป ทำให้คุณสามารถมีหุ่นสวยกระชับไม่โยโย่แน่นอน
      <br>
      <p class="sarabun">
      <b> คำแนะนำในการใช้โปรแกรม </b><br>
      1.  รับประทานผลิตภัฑณ์เสริมอาหาร CHEV ก่อนรับประทานอาหารประมาณ 30 นาที <br>  
      2.  โปรแกรมการโภชนาการของผลิตภัณฑ์เสริมอาหาร CHEV ถูกออกแบบมาเป็นอย่างดี เพื่อให้เกิดประสิทธิภาพสูงสุด แบ่งออกสามขั้นตอนนี้ โปรแกรมคำนวณพลังงานที่ต้องการต่อวัน (Daily Calorie Needs) ตารางคำนวณแคลอรี่ (Food Calorie Table) และ ตัวอย่างการวางแผนโภชนาการต่อวัน (Daily Meal Plan) <br>
      3.  โปรแกรมการบริโภคสามารถถูกเปลี่ยนแปลงได้ตาม นำ้หนัก ส่วนสูง อายุ และวัตถุประสงค์ของผู้รับประทานตามความเหมาะสม <br>
      </p>
    </div>

    <div>
      <h3>โปรแกรมคำนวณพลังงานที่ต้องการต่อวัน (Daily Calorie Needs)</h3>
      <hr>
      <p class="sarabun">ผลิตภัณฑ์เสริมอาหาร CHEV ได้ใช้สูตรการคำนวณพลังงานของ Mifflin-St Joer ซึ่งได้รับการการันตีจากองกรค์การบริโภคแห่งสหรัฐอเมริกา (American Dietetic Association) ว่าเป็นการคำนวณที่แม่นยำที่สุดในปัจจุบัน</p>
    </div>

    <div class="container top-space">

      <div class="form-horizontal col-sm-offset-4 col-sm-4">

        <div class="form-group">
          <label class="col-sm-4 control-label">Age: </label>
          <div class="col-sm-7 input-group">
            <input class="form-control" type="number" id="age" ng-model="
            age"></input>
            <div class="input-group-addon">Years</div>
          </div>          
          <!-- <label class="control-label">Years</label> -->
        </div>

        <div class="form-group">
          <label class="col-sm-4  control-label">Gender:</label>
          <div class="col-sm-7">
            <label class="radio-inline">
              <input type="radio" ng-model="gender" value="male" name="gender" id="male" checked> Male
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="gender" value="female" name="gender" id="female"> Female
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4  control-label">Weight: </label>
          <div class="col-sm-7 input-group">
            <input class="form-control" type="number" id="weight" ng-model="weight"></input>
            <div class="input-group-addon">Kilos</div>
          </div>          
        </div>

        <div class="form-group">
          <label class="col-sm-4  control-label">Height: </label>
          <div class="col-sm-7 input-group">
            <input class="form-control" type="number" id="height" ng-model="height"></input>
            <div class="input-group-addon">CMs</div>            
          </div>          
        </div>

        <div class="col-sm-12" style="text-align:center;">
          <button class="default-btn" ng-click="calculateCal()">Calculate</button>
        </div>

      </div> <!-- End of Form Horizontal -->



      <div class="calResult col-sm-4 col-sm-offset-4 " style="display:none;">
        <h3 class="center">Total Calories for Each Day</h3>
        <hr class="">
        <div class="calBox1">
          <span class="title">Maintenance</span><br>
          <span><b>{{cal}}</b> <small>kcal/day</small></span><br>
          <div class="bar" style="width:{{bar1}}%;">&nbsp;</div>
        </div>
        <div class="calBox2">
          <span class="title">Fat Loss</span><br>
          <span><b>{{cal - 200}}</b> <small>kcal/day</small></span><br>
          <div class="bar" style="width:{{bar2}}%;">&nbsp;</div>
        </div>
        <div class="calBox3">
          <span class="title">Extreme Fat Loss</span><br>
          <span><b>{{cal - 400}}</b> <small>kcal/day</small></span><br>
          <div class="bar" style="width:{{bar3}}%;">&nbsp;</div>
        </div>
        <div class="col-sm-12 center">
          <button class="white-btn" ng-click="reCal()">Recalculate</button>
        </div>
      </div>
      <div class="clear"></div>
      <p class="sarabun  col-sm-4 col-sm-offset-4 red"><small><i><b> หมายเหตุ: </b> ปริมาณพลังงานที่ต้องการในแต่ละวันอาจปรับเปลี่ยนได้ตามกิจวัตรประจำวัน</i></small></p>

    </div> <!-- End of calculator -->

    <div>
      <h3>ตารางคำนวณแคลอรี่ (Food Calorie Table)</h3>
      <hr>


      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default panel1">
          <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer;">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                อาหารไทย (Thai Meal)
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table>
                <thead>
                  <tr>
                    <th>รายการอาหาร</th>
                    <th>พลังงาน (kcal)</th>
                  </tr>
                </thead>
                <tbody class="sarabun">
                  <tr>
                    <td>ไข่ดาว</td>
                    <td>125 </td>
                  </tr>
                  <tr>
                    <td>โจ๊กหมู</td>
                    <td>236 </td>
                  </tr>
                  <tr>
                    <td>บะหมี่สำเร็จรูป</td>
                    <td>253 </td>
                  </tr>
                  <tr>
                    <td>ไข่เจียว</td>
                    <td>253 </td>
                  </tr>
                  <tr>
                    <td>ข้าวต้มปลา</td>
                    <td>325 </td>
                  </tr>
                  <tr>
                    <td>ขนมจีนนำ้ยา </td>
                    <td>332  </td>
                  </tr>
                  <tr>
                    <td>บะหมี่เกี้ยวหมูแดง</td>
                    <td>332 </td>
                  </tr>
                  <tr>
                    <td>ข้าวผัดสับปะรด</td>
                    <td>335  </td>
                  </tr>
                  <tr>
                    <td>ข้าวสวย </td>
                    <td>350 </td>
                  </tr>
                  <tr>
                    <td>เย็นตาโฟ</td>
                    <td>352 </td>
                  </tr>
                  <tr>
                    <td>ก๋วยเตี๋ยวราดหน้า</td>
                    <td>397 </td>
                  </tr>
                  <tr>
                    <td>ผัดซีอิ๊ว</td>
                    <td>425 </td>
                  </tr>
                  <tr>
                    <td>ผัดไทย</td>
                    <td>450 </td>
                  </tr>
                  <tr>
                    <td>ข้าวขาหมู</td>
                    <td>450 </td>
                  </tr>
                  <tr>
                    <td>ข้าวราดแกง</td>
                    <td>476 </td>
                  </tr>
                  <tr>
                    <td>ข้าวกระเพราไก่</td>
                    <td>478 </td>
                  </tr>
                  <tr>
                    <td>ข้าวหมูแดง</td>
                    <td>500 </td>
                  </tr>
                  <tr>
                    <td>ข้าวผัดหมูใส่ไข่</td>
                    <td>557 </td>
                  </tr>
                  <tr>
                    <td>ข้าวมันไก่</td>
                    <td>596 </td>
                  </tr>
                  <tr>
                    <td>ข้าวคลุกกะปิ</td>
                    <td>614 </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default panel2">
          <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="cursor:pointer;">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ขนมหวานไทย (Thai Dessert)
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <table>
                <thead>
                  <tr>
                    <th>รายการอาหาร</th>
                    <th>พลังงาน (kcal)</th>
                  </tr>
                </thead>
                <tbody class="sarabun">
                  <tr>
                    <td>ปาท่องโก๋ 1 ตัว</td>
                    <td>124 </td>
                  </tr>
                  <tr>
                    <td>ฝอยทอง</td>
                    <td>146 </td>
                  </tr>
                  <tr>
                    <td>กล้วยบวชชี</td>
                    <td>152 </td>
                  </tr>
                  <tr>
                    <td>ข้าวโพดคลุก</td>
                    <td>156 </td>
                  </tr>
                  <tr>
                    <td>เม็ดขนุน </td>
                    <td>174 </td>
                  </tr>
                  <tr>
                    <td>บัวลอย </td>
                    <td>223  </td>
                  </tr>
                  <tr>
                    <td>ข้าวเหนียวหน้าสังขยา</td>
                    <td>223 </td>
                  </tr>
                  <tr>
                    <td>ซ่าหริ่ม</td>
                    <td>237  </td>
                  </tr>
                  <tr>
                    <td>ลอดช่องนำ้กระทิ </td>
                    <td>290 </td>
                  </tr>
                  <tr>
                    <td>ทองม้วน</td>
                    <td>320 </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default panel3">
          <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="cursor:pointer;">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                อาหารนานาชาติ (International Meal)
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <table>
                <thead>
                  <tr>
                    <th>รายการอาหาร</th>
                    <th>พลังงาน (kcal)</th>
                  </tr>
                </thead>
                <tbody class="sarabun">
                  <tr>
                    <td>Tura Salad    สลัดทูน่า</td>
                    <td>185 </td>
                  </tr>
                  <tr>
                    <td>Mash Potato   มันบด</td>
                    <td>214 </td>
                  </tr>
                  <tr>
                    <td>Chicken Sandwich  แซนวิชไก่</td>
                    <td>257 </td>
                  </tr>
                  <tr>
                    <td>Hotdog    ฮอดดอท</td>
                    <td>290 </td>
                  </tr>
                  <tr>
                    <td>Nugget    นักเก็ต</td>
                    <td>296 </td>
                  </tr>
                  <tr>
                    <td>Cheese Burger ชีสเบอเกอร์ </td>
                    <td>319.8  </td>
                  </tr>
                  <tr>
                    <td>French Fries    เฟร้นฟราย</td>
                    <td>330 </td>
                  </tr>
                  <tr>
                    <td>Tuna Sandwich แซนวิชทูน่า</td>
                    <td>338  </td>
                  </tr>
                  <tr>
                    <td>Grilled Salmon  ปลาแซลม่อนย่าง </td>
                    <td>349 </td>
                  </tr>
                  <tr>
                    <td>Carbonara   สปาเก็ตตี้คาโบนาร่า</td>
                    <td>370  </td>
                  </tr>
                  <tr>
                    <td>Kebub     เคบับ</td>
                    <td>429 </td>
                  </tr>
                  <tr>
                    <td>Ramen     ราเมน</td>
                    <td>436 </td>
                  </tr>
                  <tr>
                    <td>Chicken Steak สเต็กไก่</td>
                    <td>438 </td>
                  </tr>
                  <tr>
                    <td>Tempura Don   ข้าวหน้าเทมปุระ</td>
                    <td>446 </td>
                  </tr>
                  <tr>
                    <td>Bolognese   สปาเก็ตตี้โบโรเนส</td>
                    <td>493 </td>
                  </tr>
                  <tr>
                    <td>Subway Sandwich ซับเวย์แซนวิช</td>
                    <td>500 </td>
                  </tr>
                  <tr>
                    <td>Tonkatsu Don  ข้าวหน้าหมูทอดญี่ปุ่น</td>
                    <td>678 </td>
                  </tr>
                  <tr>
                    <td>Pizza     พิซซ่า</td>
                    <td>800 </td>
                  </tr>
                  <tr>
                    <td>Pork Steak    สเต็กหมู</td>
                    <td>845 </td>
                  </tr>
                  <tr>
                    <td>Beef Steak    สเต็กเนื้อ</td>
                    <td>847 </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default panel4">
          <div class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="cursor:pointer;">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ขนมหวานนานาชาติ (International Dessert)
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <table>
                <thead>
                  <tr>
                    <th>รายการอาหาร</th>
                    <th>พลังงาน (kcal)</th>
                  </tr>
                </thead>
                <tbody class="sarabun">
                  <tr>
                    <td>Cupcake   คัพเค้ก</td>
                    <td>177 </td>
                  </tr>
                  <tr>
                    <td>Crepe     เครป  </td>
                    <td>224 </td>
                  </tr>
                  <tr>
                    <td>Pancake   แพนเค้ก</td>
                    <td>227 </td>
                  </tr>
                  <tr>
                    <td>Brownie   บราวนี่</td>
                    <td>243 </td>
                  </tr>
                  <tr>
                    <td>Cheesecake    ชีสเค้ก </td>
                    <td>257  </td>
                  </tr>
                  <tr>
                    <td>Ice Cream   ไอศกรีม </td>
                    <td>267  </td>
                  </tr>
                  <tr>
                    <td>Chocolate Cake  เค้กช้อกโกแลต</td>
                    <td>340 </td>
                  </tr>
                  <tr>
                    <td>Apple Pie   พายแอปเปิ้ล</td>
                    <td>411  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>




    </div>

    <div>
      <h4><b> ตัวอย่างการทำแผนโภชนาการ (Daily Meal Plan) </b></h4>
      <p class="sarabun tab">
        สมมติว่าผู้รับประทานเป็นผู้หญิงอายุ 23 ปี มีส่วนสูง 163 มีนำ้หนัก 52 กิโลกรัม จากโปรแกรมการคำนวณแคลอรี่ที่ต้องการต่อวันคือ 1262 kcal นั่นเองทีนี้เราลองมาออกแบบแผนการบริโภคกัน
      </p>
      <p class="sarabun">
        ในการออกแบบแผนโภชนาการนั้นผู้รับประทานคนนี้จะต้องออกแบบแผนการบริโภคให้มีปริมาณพลังงานต่อวันน้อยกว่า 1462 kcal นั่นเอง ซึ่งถ้าอยากให้มีหุ่นที่กะชับมากยิ่งขึ้นไปอีก ปริมาณพลังงานที่ต้องการต่อวันจะอยู่ที่ประมาณ 1262 kcal และ 1062 kcal ตามลำดับ
        <br>
        <b> ตัวอย่างวันที่ 1 </b><br>
        อาหารเช้า : โจ้กหมู 236 kcal <br>
        อาหารกลางวัน : ราเมน 436 kcal <br>
        อาหารเย็น : สเต็กไก่ 438 kcal <br>
        <b> รวม : 1110 kcal </b> <br>
        <b> ตัวอย่างวันที่ 2 </b>
        Breakfast : แพนเค้ก 227 kcal <br>
        Lunch : ปลาแซลม่อนย่าง 349 kcal <br>
        Dinner : ข้าวหมูแดง 500 kcal <br>
        <b> รวม : 1076 kcal </b> <br>

      </p>

      <p class="sarabun tab">
        เพียงแค่ผู้รับประทานทำตามคำแนะนำของแผนโภชนาการที่ออกแบบเป็นอย่างดีโดยผลิตภัณฑ์เสริมอาหาร CHEV เพียงเท่านี้ ผู้รับประทานก็จะมีรูปร่างที่กระชับและไม่โยโย่อย่างแน่นอน
      </p>
    </div>

  </div> <!-- End of Calorie Table -->


</div>



<div class="modal fade left" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        
        <!-- <h4 class="modal-title" id="myModalLabel"><b></b></h4> -->
      <!-- </div>  -->
      <div class="modal-body videoModal" style="height: 400px">
        <!-- <h3 class="center">คุณต้องการยกเลิกการโอนเงินจริงหรือไม่ ?</h3> -->
        <!-- {{videoUrl}} -->
          <button type="button" class="closeVideo" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <iframe width="100%" height="auto" src={{videoUrl}} style="min-height: 400px;" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="flat-white-btn" data-dismiss="modal">ปิด</button>          
      </div> -->
    </div>
  </div>
</div>