<div class="container center bottom-space animated fadeIn">
	<div class="head-height"></div>	
	<div class="container">
    	<div class="clear"></div>
    	<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="tag-head">
				<h1 class="no-margin">สมัครสมาชิกใหม่</h1>
				<h1 class="biggersize no-margin"><i class="fa fa-edit"></i></h1>
				<!-- <h4 class="" ng-hide="isLogin">หากยักไม่มีกด <b><a href="signup" style="color:white;text-decoration:underline;">สมัครใหม่เลยสิ</a></b></h4> -->
			</div>
			<div class="tag-tail">
				<form ng-submit="signup()" name="signupform" ng-show="!isLogin"> 
					<input class="text-input" ng-class="(valid.email !== undefined)? 'invalid':''" ng-model="form.email" type="text" name="email" placeholder="E-mail">
					<div class="noti" style="top:-1.25em;" ng-bind="valid.email"></div>
					<input class="text-input" ng-class="(valid.password !== undefined)? 'invalid':''" ng-model="form.password" type="password" name="password" placeholder="Password">
					<div class="noti" style="top:-1.25em;" ng-bind="valid.password"></div>
					<input class="text-input" ng-class="(valid.confirm_password !== undefined)? 'invalid':''" ng-model="form.confirm_password" type="password" name="confirm-password" placeholder="Confirm Password">
					<div class="noti" style="top:-1.25em;" ng-bind="valid.confirm_password"></div>
					<div>
						<div class="col-md-6 firstInput">
							<input class="text-input" ng-class="(valid.name_first !== undefined)? 'invalid':''" ng-model="form.name_first" type="text" name="name" placeholder="Name">
							<div class="noti" style="top:-1.25em;" ng-bind="valid.name_first"></div>
						</div>
						<div class="col-md-6 lastInput">
							<input class="text-input" ng-class="(valid.name_last !== undefined)? 'invalid':''" ng-model="form.name_last" type="text" name="surname" placeholder="Surname">
							<div class="noti" style="top:-1.25em;" ng-bind="valid.name_last"></div>
						</div>
					</div>					
					
					<input class="text-input" ng-class="(valid.tel !== undefined)? 'invalid':''" ng-model="form.tel" type="text" name="tel" placeholder="Phone Number">
					<div class="noti" style="top:-1.25em;" ng-bind="valid.tel"></div>
					<div>
						<div class="col-md-6 firstInput">
							<input class="text-input " ng-class="(valid.age !== undefined)? 'invalid':''" ng-model="form.age" type="number" name="age" placeholder="Age" min="1">	
							<div class="noti" style="top:-1.25em;" ng-bind="valid.age"></div>
						</div>
						<div class="col-md-6 lastInput">
							<select name="gender" id="gender" ng-model="form.gender" class="text-input" ng-options="gender.title for gender in genders" placeholder="Gender">
							</select>
						</div>
					</div>
					
					<button type="submit" class="default-btn midium-size full-width">สมัครสมาชิก</button>
				</form>
				
				<h2 ng-show="isLogin" style="padding-bottom: 1em;">ยินดีต้อนรับครับคุณ {{userInfo.name_first}}</h2>
				<!-- <h2 ng-show="isLogin" style="p">ขออภัยคุณได้เข้าสู่ระบบแล้ว <a href="logout">ออกจากระบบ</a> ที่นี่</h2> -->
			</div>
		</div>
    	<div class="col-sm-3"></div>
    	
    </div>
	<!-- <div class="jumbotron">
		<h2 class="biggersize">สมัครสมาชิกใหม่</h2>
		<h3>เพียงกรอกไม่กี่ช่อง ก็ดำเนินการต่อได้ทันที</h3>
	</div>
	<div class="clear"></div>
	<div class="col-md-6 bottom-space">
		<i class="fa fa-edit feature-icon"></i> 
	</div>
	<div class="col-md-6 verticalLine "  style="padding-top:0.8em">
		<div alert-box class="col-md-12 alertBox" style="display:none; text-align: left;"></div>
		<form ng-submit="signup()" name="signupform" ng-show="!isLogin"> 
			<input class="text-input" ng-class="(valid.email !== undefined)? 'invalid':''" ng-model="form.email" type="text" name="email" placeholder="E-mail">
			<div class="noti" style="top:-1.25em;" ng-bind="valid.email"></div>
			<input class="text-input" ng-class="(valid.password !== undefined)? 'invalid':''" ng-model="form.password" type="password" name="password" placeholder="Password">
			<div class="noti" style="top:-1.25em;" ng-bind="valid.password"></div>
			<input class="text-input" ng-class="(valid.confirm_password !== undefined)? 'invalid':''" ng-model="form.confirm_password" type="password" name="confirm-password" placeholder="Confirm Password">
			<div class="noti" style="top:-1.25em;" ng-bind="valid.confirm_password"></div>
			<input class="text-input" ng-class="(valid.name_first !== undefined)? 'invalid':''" ng-model="form.name_first" type="text" name="name" placeholder="Name">
			<div class="noti" style="top:-1.25em;" ng-bind="valid.name_first"></div>
			<input class="text-input" ng-class="(valid.name_last !== undefined)? 'invalid':''" ng-model="form.name_last" type="text" name="surname" placeholder="Surname">
			<div class="noti" style="top:-1.25em;" ng-bind="valid.name_last"></div>
			<input class="text-input" ng-class="(valid.tel !== undefined)? 'invalid':''" ng-model="form.tel" type="text" name="tel" placeholder="Phone Number">
			<div class="noti" style="top:-1.25em;" ng-bind="valid.tel"></div>
			<div>
				<div class="col-md-6 firstInput">
					<input class="text-input " ng-class="(valid.age !== undefined)? 'invalid':''" ng-model="form.age" type="number" name="age" placeholder="Age" min="1">	
					<div class="noti" style="top:-1.25em;" ng-bind="valid.age"></div>
				</div>
				<div class="col-md-6 lastInput">
					<select name="gender" id="gender" ng-model="form.gender" class="text-input" ng-options="gender.title for gender in genders" placeholder="Gender">
					</select>
				</div>
			</div>
			
			<button type="submit" class="default-btn midium-size full-width">สมัครสมาชิก</button>
		</form>

		<h2 class="jumbotron" ng-show="isLogin">ขออภัยคุณได้เข้าสู่ระบบแล้ว <a href="logout">ออกจากระบบ</a> ที่นี่</h2>
	</div> -->
	<div class="clear"></div>

</div>