<div class="container bottom-space at-view-flip-in-vertical
         at-view-flip-out-vertical animated fadeIn">
	<div class="jumbotron center">
		<h2 style="font-size:2.4em">ยินดีต้อนรับครับ คุณ {{userInfo.name_first}}</h2>
		<!-- <h3>ยังไม่ได้เข้าจ๊ะ <a href="login">เข้าดิฟระ</a></h3> -->
	</div>

	<!-- <div class="col-md-3">
		<ul id="userNav">
			<li><a ng-click="subPage='processPurchase'">Process Purchase</a></li>
			<li><a ng-click="subPage='purchaseHistory'">Purchase History</a></li>
			<li><a ng-click="subPage='manageAddresses'">Manage Addresses</a></li>
			<li><a ng-click="subPage='userDetails'">User Details</a></li>
		</ul>
	</div>

	<div class="col-md-9">
		<ng-include src="pages[subPage]"></ng-include>
	</div> -->
	

	<div class="col-md-12">
		<div >
			<h3 >ข้อมูล่วนตัว 	<!-- <a ng-click="editUserInfo()" class="{{userInfoShow}} float-right" ng-hide="userInfoView">Edit</a> -->
				<button ng-click="editUserInfo()" class="default-btn float-right {{userInfoShow}}" style="font-size:0.5em" data-toggle="modal" data-target="#editUserInfo"><i class="glyphicon glyphicon-pencil"></i></button>
			</h3>
		</div>
		<div class="clear"></div>
		
		<hr>
		<div class="{{userInfoShow}}">			
			<h4 class="col-md-12">คุณ {{userInfo.name_first}} {{userInfo.name_last}}</h4>
			<h4 class="col-md-12">เบอร์โทรศัพท์ {{userInfo.tel}}</h4>
			<div class="clear"></div>
		</div>
		<!-- <form class="{{userInfoEdit}}" style="" ng-show="userInfoView">
			<div class="col-md-6">
				<label for="name_first">ชื่อ</label>
				<input class="small-input" type="text" ng-model="updateData.name_first" name="name_first" required>
			</div>
			<div class="col-md-6">
				<label for="name_last">นามสกุล</label>
				<input class="small-input" type="text" ng-model="updateData.name_last" name="name_last" required>
			</div>
			<div class="clear"></div>
			<div class="col-md-12">
				<label for="tel">เบอร์โทรศัพท์</label>
				<input class="small-input" type="text" ng-model="updateData.tel" name="tel" required>
			</div>
			<div class="clear"></div>
			<div class="col-md-12">
				<input class="default-btn col-md-12" type="button" ng-click="updateInfo()" value="เปลี่ยนแปลงข้อมูล">
			</div>
			
			<div class="clear"></div>
		</form> -->

		<h3>ที่อยู่ในการจัดส่ง <!-- <button class="default-btn float-right" style="font-size:0.5em" data-toggle="modal" data-target="#editAddress" ng-click="callAddressBox(0, false)" ng-hide="newAddressEnabled"><i class="glyphicon glyphicon-plus"></i></button> --></h3>
		<div class="clear"></div>
		<hr>
		
		<!-- <div class="center" ng-show="userInfo.addresses==Null">
			<h3>ยังไม่มีที่อยู่ที่ใช้ในการจัดส่ง</h3>
		</div> -->
		<div class="col-md-6" data-toggle="modal" data-target="#editAddress" ng-click="callAddressBox(0, false)" ng-hide="newAddressEnabled">
			<div class="blank-panel" style="height: 100%;">
				<div class="col-md-4">
					<h1><i class="fa fa-home biggersize webtheme-shadow"></i></h1>
				</div>
				<div class="col-md-8">
					<h1 class="center" style="font-size:3.5em;">เพิ่มที่อยู่ใหม่</h1>
					<h4 class="center webtheme-shadow" style="font-size: 1.35em;"><i class="fa fa-plus-circle biggersize"></i></h4>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div ng-repeat="(key,address) in userInfo.addresses" class="col-md-6">
			<div class="" ng-class="{ 'green-panel':isDefault({{address.id}}), 'white-panel':!isDefault({{address.id}}) }" style="text-align:left; height:100%" >
				<div class="col-md-4 col-xs-height">
					<h1><i class="fa fa-home biggersize center" ng-show="!isDefault(address.id)"></i></h1>
					<h1><i class="fa fa-check-square-o biggersize center" ng-show="isDefault(address.id)"></i></h1>
				</div>
				<div class="col-md-8 verticalCenter" style="padding-top:0.5em; font-size:1.1em;">
					<div class="badge" ng-show="isDefault(address.id)" >เป็นที่อยู่เริ่มต้น</div> {{address.title}}
					<br>
					{{address.house}} {{address.house_name}} {{address.road}} {{address.county}} <br>
					{{address.district}} {{address.province}} <br>
					{{address.postcode}}
					<div class="clear"></div>
					<br>
					<div ng-show="!isDefault(address.id)" class="col-md-6 flat-white-btn" ng-click="setDefaultAddress(address.id)">ตั้งที่อยู่เริ่มต้น</div>
					<div class="col-md-6 default-btn" data-toggle="modal" data-target="#editAddress" ng-click="callAddressBox(key, true)">แก้ไขข้อมูล</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			
		</div>
		<div class="clear"></div>

	</div>

</div>
	
		<!-- <div class="col-md-7">
			
		</div> -->
	<!-- Modal for Edit User Info -->
	<div class="modal fade" id="editUserInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">แก้ไขข้อมูลส่วนตัว</h4>
	      </div>
	      <div class="modal-body">
	        <form class="{{userInfoEdit}}" style="" ng-show="userInfoView">
				<div class="col-sm-6">
					<label for="name_first">ชื่อ</label>
					<input class="small-input" ng-class="(valid.name_first !== undefined)? 'invalid':''" type="text" ng-model="updateData.name_first" name="name_first" required>
					<div class="noti" ng-bind="valid.name_first"></div>
				</div>
				<div class="col-sm-6">
					<label for="name_last">นามสกุล</label>
					<input class="small-input" ng-class="(valid.name_last !== undefined)? 'invalid':''" type="text" ng-model="updateData.name_last" name="name_last" required>
					<div class="noti" ng-bind="valid.name_last"></div>
				</div>
				<div class="clear"></div>
				<div class="col-sm-12">
					<label for="tel">เบอร์โทรศัพท์</label>
					<input class="small-input" ng-class="(valid.tel !== undefined)? 'invalid':''" type="text" ng-model="updateData.tel" name="tel" required>
					<div class="noti" ng-bind="valid.tel"></div>
				</div>
				<div class="clear"></div>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="flat-white-btn" data-dismiss="modal">ยกเลิก</button>
	        <button type="button" class="default-btn" ng-click="updateInfo()">บันทึก</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal for EditAddress -->
	<div class="modal fade" id="editAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{{addressBoxTitle}}</h4>
	      </div>
	      <div class="modal-body">
	        <form style="">
				<div class="col-sm-12">
					<label for="title">ชื่อผู้ส่งถึง<span class="red">*</span></label>
					<input class="small-input" ng-class="(valid.title !== undefined)? 'invalid':''" type="text" ng-model="newAddress.title" name="title">
					<div class="noti" ng-bind="valid.title"></div>
				</div>
				<div class="clear"></div>
				<div class="col-sm-6">
					<label for="house">ที่อยู่บ้าน<span class="red">*</span></label>
					<input class="small-input" ng-class="(valid.house !== undefined)? 'invalid':''" type="text" ng-model="newAddress.house" name="house">
					<div class="noti" ng-bind="valid.house"></div>
				</div>
				<div class="col-sm-6">
					<label for="house_name">ชื่อบ้าน</label>
					<input class="small-input" ng-class="(valid.house_name !== undefined)? 'invalid':''" type="text" ng-model="newAddress.house_name" name="house_name">
					<div class="noti" ng-bind="valid.house_name"></div>
				</div>
				<div class="clear"></div>
				<div class="col-sm-12">
					<label for="road">ถนน</label>
					<input class="small-input" ng-class="(valid.road !== undefined)? 'invalid':''" type="text" ng-model="newAddress.road" name="road">
					<div class="noti" ng-bind="valid.road"></div>
				</div>
				<div class="clear"></div>
				<div class="col-sm-6">
					<label for="district">ตำบล/แขวง<span class="red">*</span></label>
					<input class="small-input" ng-class="(valid.district !== undefined)? 'invalid':''" type="text" ng-model="newAddress.district" name="district">
					<div class="noti" ng-bind="valid.district"></div>
				</div>
				<div class="col-sm-6">
					<label for="county">อำเภอ/เขต<span class="red">*</span></label>
					<input class="small-input" ng-class="(valid.county !== undefined)? 'invalid':''" type="text" ng-model="newAddress.county" name="county">
					<div class="noti" ng-bind="valid.county"></div>
				</div>
				<div class="clear"></div>
				<div class="col-sm-6">
					<label for="province">จังหวัด<span class="red">*</span></label>
					<input class="small-input" ng-class="(valid.province !== undefined)? 'invalid':''" type="text" ng-model="newAddress.province" name="province">
					<div class="noti" ng-bind="valid.province"></div>
				</div>
				<div class="col-sm-6">
					<label for="postcode">รหัสไปรษณีย์<span class="red">*</span></label>
					<input class="small-input" ng-class="(valid.postcode !== undefined)? 'invalid':''" type="text" ng-model="newAddress.postcode" name="postcode">
					<div class="noti" ng-bind="valid.postcode"></div>
				</div>
				<div class="clear"></div>

			</form>
	      </div>
	      <div class="modal-footer"> 
	        <button type="button" class="flat-white-btn" data-dismiss="modal">ยกเลิก</button>
	        <button type="button" class="default-btn" ng-click="submitAddress(newAddress.isEdit)">บันทึก</button>
	      </div>
	    </div>
	  </div>
	</div>
